.opcoes_row, .opcoes {
	display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
}

.opcoes {
    border-radius: 3px;
    background: #303030;
    padding: 12px 10px;
    display: flex;
    justify-content: center;
    color:  #C3C8C8;
    margin: 0 auto;	
	padding: 0;
	border-radius: 3px;
	box-shadow: 0px 0px 10px #121212;
}

#informativo_row {
	justify-content: center;
}

.informativo {
	box-shadow: 0px 0px 5px #121212;
	text-decoration: none;
}
.informativo:hover {
	color: #C3C8C8;
	cursor: pointer;
}

.opcoes_row {
	margin-bottom: 20px;	
}

.opcoes:hover {
	cursor: pointer;
}

.key {
	padding: 10px 0px;
	color: #C3C8C8;
	text-decoration: none;
	border: 1px solid transparent;
	font-size: 0.90rem;
	display: flex;
	justify-content: center;
	text-align: center;	

}

.compras {
	background: #82A886;
	color: #212121;
	border-radius: 0px 3px 3px 0px;
}

.fornecedores:hover {
	color: #C3C8C8;
}

.compras:hover {
	color: #212121;
}