#main {
	display: block;
}

.container_blocos {
	display: flex;
	justify-content: left;
	margin: 0;
}

.bloco_pai {
	display: flex;
	justify-content: center;
}

.bloco_filho {
	padding: 12px 3px;
	padding-bottom: 22px;
	box-shadow: 2px 2px 15px #121212;
	color: #7da181;
	margin: 15px 0;
	background: #C3C8C8;

}

.cancel_container, .cancel_container_pai {
	display: flex;
	justify-content: right;
}

.cancel_btn:hover {
	cursor: pointer;
}

.container_conteudo {
	padding: 0px 25px;
	padding-bottom: 0;
}


.hr_bloco {
	margin: 0;
	width: 100%;
	background: #7DA181;
}

.titulo {
	font-size: 1rem;
	text-align: center;
	margin-bottom: 4px;
	color: #2f3d61;
	font-weight: 600;
	font-size: 0.90;
}

.info_responsavel {
	text-align: center;
	font-size: 0.70rem;
	color: #303030;
	margin-bottom: 8px;
}

.info_categoria {
	font-size: 0.80rem;
	margin-top: 12px;
	color: #2f3d61;
}

.texto {
	font-size: 0.80rem;
	color: #303030;
	text-align: justify;
	margin-top: 5px;
	padding: 5px 0;
}

.botao {
	margin: 0 auto;
	margin-top: 10px;
	border: none;
	padding: 8px 0;
	background: #303030;
	color: #C3C8C8;
	font-size: 0.85rem;	
	box-shadow: 1px 1px 3px #121212;
}

.botao_excluir {
	background: #b24a47;
}

.label_cor{
	color: transparent;
}

#button_arquivo {
    border: 1px solid grey;
    padding: 5.30px 5px;
    justify-content: center;
    background: #424242;
	color: #C3C8C8;
	font-size: 0.90rem;
	margin-bottom: 0;
}

#button_arquivo:hover{
	cursor: pointer;
}

#input_arquivo {
	border: none;
}

#input_cor_conteudo, #input_cor_titulo {
	padding: 0;
}

#label_subCategoria {
	color: #4444;
}

#caracteres {
	font-size: 0.70rem;
	text-align: right;
}


/*.bloco_filho_categoria {
	border-radius: 0;	
	padding-bottom: 15px;
}

.container_conteudo_categoria {
	padding-top: 0;
}

.subtitulo {
	color: #C3C8C8;
	padding: 0 25px;
	font-size: 1.3rem;
}

#hr_divisa {
	margin-top: 10px;
	margin-bottom: 15px;
}

.container_vazio {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.subtitulo_vazio {
	margin-top: 10px;
	text-align: center;
	font-size: 1.5rem;
	color: #7da181;
}

.texto_vazio {
	margin: 15px 0;
	font-size: 1rem;
	text-align: center;
	color: #C3C8C8;
}

.botao_vazio {
	margin: 0px;
	padding: 8px 0;
	background: #7da181;
	color: #303030;
	box-shadow: 0px 0px 15px #121212;
}

.titulo_subcategoria {
	text-align: center;
	color: #2f3d61;
}

.bloco_filho_subcategoria {
	color: #2f3d61;
	font-weight: 600;
	text-align: center;
}

.bloco_filho_subcategoria {
	border-radius: 0;	
	text-align: center;	
}

.container_conteudo_subcategoria {
	padding-top: 0;
	text-align: center;	
}

.botao_excluir {
	border: none;
	background: transparent;
	margin: 0;
	padding: 0;
}*/