#main {
	display: block;
}

.container_blocos {
	display: flex;
	justify-content: left;
	margin: 0;
}

.bloco_pai {
	display: flex;
	justify-content: center;
}

.bloco_filho {
	padding: 12px 3px;
	padding-bottom: 22px;
	box-shadow: 2px 2px 15px #121212;
	color: #7da181;
	margin: 15px 0;
	background: #C3C8C8;

}

.cancel_container, .cancel_container_pai {
	display: flex;
	justify-content: right;
}

.cancel_btn:hover {
	cursor: pointer;
}

.container_conteudo {
	padding: 0px 25px;
	padding-bottom: 0;
}


.hr_bloco {
	margin: 0;
	width: 100%;
	background: #7DA181;
}

.titulo {
	font-size: 1rem;
	text-align: center;
	margin-bottom: 4px;
	color: #2f3d61;
	font-weight: 600;
	font-size: 0.90;
}

.info_responsavel {
	text-align: center;
	font-size: 0.70rem;
	color: #303030;
	margin-bottom: 8px;
}

.info_categoria {
	font-size: 0.80rem;
	margin-top: 12px;
	color: #2f3d61;
}

.texto {
	font-size: 0.80rem;
	color: #303030;
	text-align: justify;
	margin-top: 5px;
	padding: 5px 0;
}

.botao {
	margin: 0 auto;
	margin-top: 10px;
	border: none;
	padding: 8px 0;
	background: #303030;
	color: #C3C8C8;
	font-size: 0.85rem;	
	box-shadow: 1px 1px 3px #121212;
}

.botao_excluir {
	background: #b24a47;
}

.label_cor{
	color: transparent;
}

#button_arquivo:hover{
	cursor: pointer;
}

#input_cor_conteudo, #input_cor_titulo {
	padding: 0;
}

#label_subCategoria {
	color: #4444;
}

#caracteres, #edita_caracteres {
	font-size: 0.70rem;
	text-align: right;
}

#edita_input_conteudo {
	background: transparent;
}

.titulo_vazio {
	margin-top: 50px;
	text-align: center;
	color: #7da181;
	font-size: 1rem;
}

.conteudo_vazio {
	margin-top: 10px;
	text-align: center;
	color: #C3C8C8;
	font-size: 0.85rem;
}