.conteudo_titulo_text {
	color: #82A886;
}

.novo_all {
	padding: 35px 20px;
	float: left;
	margin-bottom: 35px;
	padding-bottom: 0;
	box-shadow: 0px 0px 25px #121212;
	background-image: linear-gradient(to right, #C3C8C8, #d1cdcd);
}

.novo_container {
	float: left;
}


.container_pai {
	float: left;
}

.novo_item_form {
	padding: 0 20px;
}

.form_titulo {
    font-size: 1.3rem;
    color: #303030;
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.novo_item_label {
	color: #303030;
	font-size: 1rem
}

.novo_item_input {
	padding: 8px 10px;
	color: #303030;
}

.progress_bar {
	display: flex;
	justify-content: left;
	border: 1px solid #4ae857;
}

.etapa {
	height: 15px;
	margin: 0 1px;
  animation-fill-mode:both;	
}

.hr_novo {
	background: #c3c8c8;
}

.etapa_um {
	margin-left: 0px;
	background-color: #82A886;
	animation: progressBar 1.5s ease-in-out;	
}

.botao_adicionar {
	margin-top: 18px;
	border: none;
	padding: 10px 0;
	background: #2f3d61;
	font-weight: 600;
	color: #C3C8C8;
	box-shadow: 2px 2px 3px #121212;
}

.botao_adicionar:hover {
	animation: subpulse 2s infinite;
}

.hr_novo {
	background: #2f3d61;
}

.container_informativo {
	float: left;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.sub_container_informativo {
	padding: 14px 25px;
	display: flex;
	justify-content: center;
	background: #303030;
	font-weight: 400;
	color: #C3C8C8;

}

.informativo_campo_chave {
	text-align: left;
}

.informativo_campo_valor {
	text-align: right;
}

.informativo_pai {
	display: flex;
	justify-content: center;
}

#botao_finalizar {
	background: #ba4c49;
}

.container_pai_tabela {
	margin-bottom: 25px;
}

.container_tabela {
    margin: 0;
    padding: 0;
    color: #82A886;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;	
}

.thead_novo, .tbody_novo{
    width: 100%;
    margin: 0;
    padding: 0;
}

.tr_novo{
    border-bottom: 1px solid #4444;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 4px solid transparent;
    margin: 0px 0;
}

.th_novo, .td_novo{
    margin: 0;
    padding: 0;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.th_novo{
    text-align: left;
    padding: 10px 0;
    font-size: 0.90rem;
}

.td_novo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212121;
    padding: 10px 0; 
    font-size: 0.90rem;  
}

.container_tabela {
	margin: 0;
	padding: 0 30px;
	margin-top: 15px;
}

.thead_novo {
	background: #303030;
	color: #C3C8C8;
}

.novo_infos {
	padding: 35px 20px;
	float: left;
	margin-bottom: 35px;
	box-shadow: 0px 0px 25px #121212;
	background-image: linear-gradient(to right, #C3C8C8, #d1cdcd);
	font-size: 0.90rem;
}

.sub_container_pai {
	float: left;
}

.titulo_tabela {
	padding: 0 30px;
	color: #303030;
	font-weight: 600;
	font-size: 0.95rem;
	text-align: center;
}

.select_superior {
	background: #2f3d61;
	border: 1px solid #2f3d61;
	color: #C3C8C8;
	box-shadow: 0px 2px 5px #121212;
}

.buscar_cliente {
	padding: 8px 0;
	background: #2f3d61;
	color: #C3C8C8;
	font-weight: 600;
	border: 1px solid transparent;
}

.buscar_cliente:hover {
	animation: subpulse 3s infinite;
}

.option {
	color: #C3C8C8;
	text-align: center;
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 33%; }
}