/* MENU LATERAL */

.side_menu {
    width: 4%;
    height: 100%;
    background: #171717;
    position: fixed;
}

.aside{
    margin: 0;
    padding: 0;
    float: left;
    border: none;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}

.side_menu_row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside_clicavel{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.img_button{
    padding: 0;
    margin: 0;
}

.sidebar_menu_img{
    max-width: 90%; 
    max-height: 100%;
    object-fit: contain;
}

.img_button{
    background: transparent;
    border: none;
}

.img_button:hover {
    animation: pulse 2s infinite;
}

.last {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;    
    display: flex;
    justify-content: center;
    align-items: center;
}