/* MENU SUPERIOR */

.menu_superior_1 {
    background: #303030;
    float: left;
    box-shadow: 0px 0px 10px #121212;
    display: flex;
    justify-content: right;
    height: 55px;
    font-size: 1.25rem;
    margin: 0;
    padding: 0 20px;
}

.menu_superior_1_ul{
    display: flex;
    justify-content: right;
    padding: 12px 0;
    margin: 0;
}

.menu_superior_li {
    float: left;
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 0;
}

.menu_superior_img:hover {
    animation: pulse 2s infinite;
    cursor: pointer;
}

.menu_superior_img {
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;
    margin-left: 10px;
}