/* MENU SUPERIOR */

.menu_superior_1 {
    background: #303030;
    box-shadow: 0px 0px 10px #121212;
    display: flex;
    justify-content: center;
    padding: 9px 0;
}

.menu_superior_li {
    display: flex;
    justify-content: right;
    padding-right: 15px;
}

.menu_superior_botao {
    padding: 0px;
}

.menu_superior_botao_container {
    display: flex;
    justify-content: right;
}

.menu_superior_botao {
    border: none;
    background: transparent;
}

.menu_superior_botao_container {
    width: 25px;
    margin-left: 10px;
}

.menu_superior_img:hover {
    animation: pulse 2s infinite;
}